<div class="container-fluid">
  <section id="page-title">
    <h1 class="mainTitle">DASHBOARD</h1>
  </section>

  <!-- <div [@fadeInOut]>
    <mat-grid-list gutterSize="25px" cols="4" rowHeight="2:1">
      <mat-grid-tile class="mat-elevation-z2">
        <h3>Completed: {{ completed }}</h3>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z2">
        <h3>Awaiting Approval: {{ awaitingApproval }}</h3>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z2">
        <h3>Parked: {{ parked }}</h3>
      </mat-grid-tile>
      <mat-grid-tile class="mat-elevation-z2">
        <h3>In Progress: {{ inProgress }}</h3>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->
  <div class="spacer"></div>
  <div [@fadeInOut]>
    <mat-card>
      <todo-demo></todo-demo>
    </mat-card>
  </div>
</div>