<div class="">
  <section id="page-title">
    <h1 class="mainTitle">DASHBOARD</h1>
    <span class="mainDescription">overview &amp; stats </span>
  </section>

  <div [@fadeInOut]>
    <div class="container-fluid container-fullw bg-white">
      <div class="row">
        <div class="col-md-8">
          <div id='calendar'></div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12" *ngFor="let statistic of projectStatistics">
              <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                  <h1>{{ statistic.count }}</h1>
                  <h2>{{ statistic.statusName }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

